.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionContainer {
  width: 422px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.input:focus {
  border: 1px solid blue;
}

.filterIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.filterIcon:hover {
  opacity: 0.5;
}

.filterIcon:active {
  opacity: 1;
}
